@font-face {
  font-family: "Lato";
  src: url("../font/Lato-Regular.ttf") format("ttf");
}
/* background colors */
/* text colors */
/* ellipsis nav colors */
/* skills colors */
body {
  background-color: #f0f0f0;
  color: #272727;
  font: normal normal normal 14px Lato, sans-serif;
}
/* ==========================
    ellipsis nav styling
========================== */
.ellipsis-nav {
  float: left;
  text-align: left;
  margin-top: 55px;
  margin-left: 20px;
  color: #464646;
}
.ellipse-container {
  margin-bottom: 20px;
}
.ellipse-container span {
  margin-left: 8px;
}
.ellipse {
  display: inline-block;
  border: 1px solid #aeaeae;
  border-radius: 50%;
  width: 13px;
  height: 13px;
}
/* ==========================
    profile styling
========================== */
#profile {
  position: relative;
  top: 192px;
}
#profile .ellipse[href="#profile"] {
  background-color: #464646;
  border: 1px solid #464646;
}
.tagline {
  position: relative;
  bottom: 230px;
  text-align: left;
}
.tagline h1 {
  margin-bottom: 30px;
}
.skills {
  position: relative;
  top: 0;
  margin: 50px auto;
}
.skills li {
  color: #f0f0f0;
  background-color: #aeaeae;
}
#bg-desc {
  position: relative;
  right: 85px;
}
.limited-width {
  margin: -10px 0 0 -20px;
}
.paragraph {
  margin: 40px;
  text-align: justify;
  font-size: 16px;
  line-height: 1.5em;
}
.vertical {
  transform: rotate(90deg);
  float: right;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  top: 70px;
}
#lakers {
  position: relative;
  top: 192px;
}
#lakers img {
  display: block;
  width: 100%;
}
/* ==========================
    background styling
========================== */
#background {
  position: relative;
  top: 200px;
}
#background .ellipse[href="#background"] {
  background-color: #464646;
  border: 1px solid #464646;
}
/* ==========================
    music styling
========================== */
#music {
  position: relative;
  top: 192px;
  background-color: #272727;
}
#music .ellipsis-nav {
  color: #f0f0f0;
}
#music .ellipse[href="#music"] {
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
}
#music table {
  color: #f0f0f0;
}
#music th {
  color: #aeaeae;
}
/* ==========================
    shows styling
========================== */
#shows {
  position: relative;
  top: 192px;
}
#shows .ellipse[href="#shows"] {
  background-color: #464646;
  border: 1px solid #464646;
}
/* ==========================
    blog styling
========================== */
#blog {
  position: relative;
  top: 192px;
}
#blog .ellipse[href="#blog"] {
  background-color: #464646;
  border: 1px solid #464646;
}
.footer {
  position: relative;
  top: 550px;
}
