@font-face {
  font-family: "Lato";
  src: url("../../font/Lato-Regular.ttf") format("truetype");
}
/* background colors */
/* text colors */
/* ellipsis nav colors */
/* skills colors */
/* vertical offset */
body {
  background-color: #f0f0f0;
  color: #272727;
  font: normal normal normal 14px "Lato", sans-serif;
}
/* ==========================
    ellipsis nav styling
========================== */
.ellipsis-nav {
  text-align: left;
  margin-right: 25px;
  margin-left: 15px;
  color: #464646;
}
.ellipse-container {
  margin-bottom: 20px;
}
.ellipse-container span {
  margin-left: 8px;
}
.ellipse {
  display: inline-block;
  border: 1px solid #aeaeae;
  border-radius: 50%;
  width: 13px;
  height: 13px;
}
/* ==========================
    profile styling
========================== */
#profile {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 150px;
}
#profile .ellipse[href="#profile"] {
  background-color: #464646;
  border: 1px solid #464646;
}
.flex-between,
.mobile-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.tagline {
  text-align: left;
}
.tagline h1 {
  margin-bottom: 30px;
}
.skills {
  position: relative;
  top: 0;
  margin: 50px auto;
}
.skills li {
  color: #f0f0f0;
  background-color: #aeaeae;
}
.limited-width {
  margin: -10px 0 0 -20px;
}
/* ==========================
    background styling
========================== */
#background {
  position: relative;
  top: 150px;
}
#background .ellipse[href="#background"] {
  background-color: #464646;
  border: 1px solid #464646;
}
.offset-left {
  position: relative;
  right: 85px;
  bottom: 15px;
}
.paragraph {
  margin: 40px;
  text-align: justify;
  font-size: 16px;
  line-height: 1.5em;
}
.bg {
  position: relative;
  bottom: 160px;
}
.vertical {
  transform: rotate(90deg);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}
#lakers {
  position: relative;
  top: 150px;
}
#lakers img {
  display: block;
  width: 100%;
}
/* ==========================
    music styling
========================== */
/* begin dropdown css */
.dropdown {
  text-align: left;
  margin: 0 auto 50px;
  max-width: 1000px;
}
.dropbtn {
  border: 1px solid #f0f0f0;
  border-radius: 27px;
  height: 27px;
  line-height: 27px;
  background-color: #272727;
  margin-left: 12px;
}
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2bc9af;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #272727;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content button {
  color: #f0f0f0;
  background-color: #272727;
  border: none;
  padding: 12px 16px;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content button:hover {
  color: #2bc9af;
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
/* end dropdown css */
#music {
  position: relative;
  top: 150px;
  background-color: #272727;
  color: #f0f0f0;
  padding-bottom: 30px;
}
#music .ellipsis-nav {
  color: #f0f0f0;
}
#music .ellipse[href="#music"] {
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
}
#music h2 {
  font-weight: 400;
  display: inline-block;
  text-transform: uppercase;
}
#music a {
  color: #f0f0f0;
}
#music h3,
#music a:hover {
  color: #2bc9af;
}
.table {
  margin: 0 auto;
  max-width: 1000px;
}
.table td {
  padding: 10px;
}
.table th {
  color: #aeaeae;
  text-transform: uppercase;
  padding: 5px;
}
.table tr + tr:hover {
  border-radius: 10px;
  color: #2bc9af;
  background-color: #464646;
}
.table th:first-child,
.table th:last-child,
.table td:first-child,
.table td:last-child {
  width: 1%;
  white-space: nowrap;
}
.table tbody > tr:first-child {
  border-bottom: 1px solid #aeaeae;
}
.mi {
  position: relative;
  bottom: 10px;
  width: 250px;
}
.music-player {
  background-color: #464646;
}
/* ==========================
    shows styling
========================== */
#shows {
  position: relative;
  top: 192px;
}
#shows .ellipse[href="#shows"] {
  background-color: #464646;
  border: 1px solid #464646;
}
/* ==========================
    blog styling
========================== */
#blog {
  position: relative;
  top: 192px;
}
#blog .ellipse[href="#blog"] {
  background-color: #464646;
  border: 1px solid #464646;
}
.footer {
  position: relative;
  top: 150px;
}
/* ==========================
    mobile styling
========================== */
@media (max-width: 1100px) {
  .mobile-flex {
    flex-direction: column;
  }
  .offset-left {
    position: static;
  }
}
