@font-face {
  font-family: "Lato";
  src: url("../font/Lato-Regular.ttf") format("ttf");
}
/* color variables */
/* ==========================
    work styles
========================== */
#tagline {
  position: relative;
  top: 192px;
}
.icon {
  display: inline-block;
  margin-right: 25px;
}
.icon:hover {
  background-color: #2bc9af;
}
#skills {
  position: relative;
  top: 300px;
}
#skills ul {
  display: inline-block;
  max-width: 1000px;
}
#skills li {
  display: inline-block;
  height: 37px;
  background-color: #464646;
  border-radius: 15px;
  width: 160px;
  padding-top: 10px;
  margin: 10px;
}
/* ==========================
    project
========================== */
#background-work {
  position: relative;
  top: 350px;
}
.background-project {
  width: 90%;
  margin: 0 auto 80px;
}
.background-project:last-child {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .background-project > div {
    width: 100%;
  }
}
@media (min-width: 769px) {
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .desc {
    position: relative;
    top: 100px;
    width: 35%;
    margin: 0 20px 100px;
  }
  .desc h3 {
    margin: 20px 0;
  }
}
