<div class="skill">
  <div class="skill-name"><%= name %></div>
  <div class="skill-items">
    <% skills.forEach(skill => { %>
        <div class="skill-item">
          <p><%= skill %></p>
        </div>
    <% }) %>
  </div>
</div>
