<ul class="skills">
  <li>Java</li>
  <li>JavaScript</li>
  <li>React.js</li>
  <li>HTML5</li>
  <li>CSS3</li>
  <li>SQL</li>
  <li>PostgreSQL</li>
  <li>Express.js</li>
  <li>Bootstrap</li>
  <li>Sequelize ORM</li>
  <li>Git</li>
  <li>Cucumber</li>
  <li>Selenium</li>
  <li>Maven</li>
  <li>Docker</li>
  <li>Spring</li>
  <li>Spring Boot</li>
  <li>Apache Camel</li>
  <li>RH OpenShift</li>
  <li>RH Decision Manager</li>
</ul>
