@import "../../../styles/globals";

$vertical-offset: 100px;

.dark {
  background-color: $primary-background-color;
  color: $primary-text-color;
  font: $body-font;
}

@mixin verticalOffset($factor) {
  position: relative;
  top: $vertical-offset * $factor;
}

@for $i from 1 through 8 {
  .verticalOffset#{$i} {
    @include verticalOffset($i);
  }
}
