<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8" />
    <title>Derek Foster</title>
    <!-- set viewport to device width to allow responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet/less" type="text/css" href="css/base.less" />
    <link rel="stylesheet/less" type="text/css" href="css/work.less" />
    <script src="js/less.min.js" type="text/javascript"></script>
  </head>

  <body>
    <main class="main">
      <div class="enable-sticky-footer">
        <nav class="dark-bg nav-bar">
          <ul>
            <li class="nav-item"><a href="/">Work</a></li>
            <li class="nav-item"><a href="/about">About</a></li>
            <!-- for now going back to home. need to include download link -->
            <li class="nav-item"><a href="/">Resume</a></li>
          </ul>
        </nav>

        <section class="flex-column container">
          <div class="limited-width">
            <h2>
              Hello! My name is Derek. I'm a Full-Stack Developer currently
              living in San Francisco.
            </h2>

            <section class="social-links">
              <a href="mailto:derekfoster94@gmail.com" target="_blank"><img src="images/social-media-icons/white/email.svg" /></a>
              <a href="https://www.linkedin.com/in/derek-foster/" target="_blank"><img src="images/social-media-icons/white/linkedin.svg" /></a>
              <a href="https://github.com/fostimus" target="_blank"><img src="images/social-media-icons/white/github.svg" /></a>
              <a href="https://open.spotify.com/user/1218307071?si=Ir3WJzehS9qQe-k_gaJpng" target="_blank"><img src="images/social-media-icons/white/spotify.svg" /></a>
              <a href="https://www.yelp.com/user_details?userid=ktbe2eLWnfgu3afRmDIi3g" target="_blank"><img src="images/social-media-icons/white/yelp.svg" /></a>
            </section>
          </div>

          <%- include("partials/skills") %>

        </section>

        <!-- need to change "backend-work" to just "work" or "projects" -->
        <section id="background-work" class="dark-bg container">
          <img class="line-text-header" src="images/line-text-headers/BACKEND-WORK.svg" />

          <section class="background-project">
            <div class="desc">
              <h2>Better BooThang</h2>
              <h4>October 2020</h4>
              <a class="btn" href="/" target="_blank">Send a text to your boo</a>
              <a class="btn" href="/" target="_blank">Check out the code</a>
            </div>
            <div class="project-image">
              <img src="images/projects/Welcome.png" />
            </div>
          </section>

          <section class="flex-reverse background-project">
            <div class="desc">
              <h2>Concentration</h2>
              <h4>October 2020</h4>
              <a class="btn" href="https://fostimus.github.io/concentration/" target="_blank">Play the Game</a>
              <a class="btn" href="https://github.com/fostimus/concentration" target="_blank">Check out the code</a>
            </div>
            <div class="project-image">
              <img src="images/projects/ss3.png" />
            </div>
          </section>

          <section class="background-project">
            <div class="desc">
              <h2>Giveback Ninja Website Modernization</h2>
              <h4>April 2020 - September 2020</h4>
              <a class="btn" href="https://github.com/redhat-cop/ninja-board/tree/v2" target="_blank">Check out the code</a>
            </div>
            <div class="project-image">
              <img src="images/projects/giveback-ninja.jpg" />
            </div>
          </section>
        </section>
      </div>

      <footer class="dark-bg container footer">
        <img class="line-text-header" src="images/line-text-headers/GET-IN-TOUCH.svg" />

        <h2 class="limited-width">
          Say hello! Learn more about my life as a professional and a person.
        </h2>

        <div class="footer-links">
          <a class="btn" href="mailto:derekfoster94@gmail.com" target="_blank">Get in touch</a>
          <a class="btn" href="about.html">Learn about me</a>
        </div>

        <div class="copyright">
          <p>Ingredients: Heart, soul, and lots of coffee</p>
          <br />
          <p>&copy; Derek Foster 2020</p>
        </div>
      </footer>
    </main>
  </body>

</html>
