@import "./globals.less";

/* ellipsis nav colors */
@ellipse-border: @light-grey;
@dark-ellipse: @dark-grey;
@light-ellipse: @white;

/* vertical offset */
@vertical-offset: 100px;
@max-limited-width: 800px;

body {
  background-color: @secondary-background-color;
  color: @tertiary-text-color;
  font: @body-font;
}

.nav-links {
  a {
    color: @tertiary-text-color;
  }

  a:hover {
    color: @text-hover-color;
  }
}

/* ==========================
    ellipsis nav styling
========================== */

.ellipsis-nav {
  text-align: left;
  margin: 0 15px;
  color: @dark-ellipse;
}

.ellipse-container {
  display: flex;
  margin-bottom: 20px;

  span {
    margin-left: 8px;
  }
}

.ellipse {
  display: inline-block;
  border: 1px solid @ellipse-border;
  border-radius: 50%;
  width: 13px;
  height: 13px;
}

/* ==========================
    profile styling
========================== */

#profile {
  position: relative;
  display: flex;
  flex-direction: column;
  top: @vertical-offset;

  .ellipse[href="#profile"] {
    background-color: @dark-ellipse;
    border: 1px solid @dark-ellipse;
  }
}

.flex-between,
.mobile-flex {
  display: flex;
  align-items: center;
  gap: 25px;
}

.flex-between {
  justify-content: space-between;
}

.mobile-flex {
  justify-content: space-around;
}

.skills-container {
  position: relative;
  top: 70px;
}

.skill {
  color: @secondary-skill-text-color;
  background-color: @secondary-skill-background-color;
}

/* ==========================
    background styling
========================== */
#background {
  position: relative;
  top: @vertical-offset + 50px;

  .ellipse[href="#background"] {
    background-color: @dark-ellipse;
    border: 1px solid @dark-ellipse;
  }
}

.limited-width {
  max-width: @max-limited-width;
}

.offset-left {
  position: relative;
  right: 85px;
  bottom: 15px;
  text-align: left;
}

.paragraph {
  margin: 25px;
  text-align: justify;
  font-size: 16px;
  line-height: 1.5em;
}

.current-projects {
  h3 {
    margin-bottom: 20px;
  }
  ol {
    list-style: decimal;
  }
}

.vertical {
  transform: rotate(90deg);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 50px;
  right: 0;
}

#lakers {
  position: relative;
  top: @vertical-offset + 20px;

  img {
    display: block;
    width: 100%;
  }
}

/* ==========================
    music styling
========================== */
@music-table-width: 1000px;

.playlist-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  gap: 25px;
}

#playlist-description {
  font-family: @italic-bold-font;
}

/* begin dropdown css */
.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  margin: 0 auto;
  max-width: @music-table-width;
  padding: 20px 50px;
}

.dropbtn {
  border: 1px solid @secondary-background-color;
  border-radius: 27px;
  height: 27px;
  line-height: 27px;
  background-color: @primary-background-color;
  margin-left: 12px;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: @text-hover-color;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: @primary-background-color;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
  color: @primary-text-color;
  background-color: @primary-background-color;
  border: none;
  padding: 12px 16px;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {
  color: @text-hover-color;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/* end dropdown css */

#music {
  position: relative;
  top: @vertical-offset + 20px;
  background-color: @primary-background-color;
  color: @primary-text-color;
  padding-bottom: 120px;

  a:hover {
    color: @white;
  }

  .ellipsis-nav {
    color: @light-ellipse;
  }
  .ellipse[href="#music"] {
    background-color: @light-ellipse;
    border: 1px solid @light-ellipse;
  }

  h2 {
    font-weight: 400;
    display: inline-block;
    text-transform: uppercase;
  }

  h3 {
    color: @text-hover-color;
  }
}

#playlists {
  width: 100%;
}

.my-table {
  margin: 0 auto;
  max-width: @music-table-width;
  text-align: left;
  overflow-x: auto;

  td {
    padding: 10px;
  }

  td,
  th {
    text-align: left;
  }

  th {
    color: @secondary-text-color;
    text-transform: uppercase;
    padding: 5px;
  }

  tr + tr:hover {
    //border-radius not working
    border-radius: 10px;
    color: @text-hover-color;
    background-color: @background-hover-color;
  }

  th:first-child,
  th:last-child,
  td:first-child,
  td:last-child {
    width: 1%;
    white-space: nowrap;
  }

  tbody > tr:first-child {
    border-bottom: 1px solid @secondary-text-color;
  }
}

.music-player {
  background-color: @background-hover-color;
}

/* ==========================
    shows styling
========================== */
#shows {
  position: relative;
  top: 192px;

  .ellipse[href="#shows"] {
    background-color: @dark-ellipse;
    border: 1px solid @dark-ellipse;
  }
}

/* ==========================
    blog styling
========================== */
#blog {
  position: relative;
  top: 192px;

  .ellipse[href="#blog"] {
    background-color: @dark-ellipse;
    border: 1px solid @dark-ellipse;
  }
}

.footer {
  position: relative;
  top: @vertical-offset;
}

/* ==========================
    responsive styling
========================== */
@media (max-width: @large-screen-breakpoint) {
  .vertical {
    display: none;
  }

  #portfolio-headshot {
    width: 400px;
  }
}

@media screen and (max-width: @tablet-breakpoint) {
  #profile {
    top: @vertical-offset + 30px;
  }

  .mobile-flex {
    flex-direction: column;
  }

  .tagline-container {
    padding-right: 48px;
  }
}

@media screen and (max-width: @mobile-breakpoint) {
  #profile {
    top: @vertical-offset + 60px;
  }
  #portfolio-headshot {
    width: 300px;
  }

  #music {
    h3,
    .playlist-title {
      text-align: center;
    }
    .flex-between {
      gap: 0;
    }
  }

  .ellipsis-nav {
    display: none;
  }

  .offset-left {
    text-align: center;
    padding-top: 25px;
    margin-bottom: 0 !important;
    right: 0;
  }

  .paragraph {
    margin-top: 5px;
  }

  .dropdown {
    padding: 15px 0 30px;
  }

  .my-table tbody {
    display: flex;

    tr {
      td {
        display: inline-block;
        min-width: 350px;
        margin: 0 auto;
      }
      padding: 0 10px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      text-align: center;

      &:first-child {
        text-align: left;
        border-bottom: none;
      }

      border-right: 1px solid @secondary-text-color;
    }
  }
}
