@font-face {
  font-family: "Lato";
  src: url("../font/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "LatoItalic";
  src: url("../font/Lato-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "LatoBold";
  src: url("../font/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "LatoItalicBold";
  src: url("../font/Lato-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "LatoHairline";
  src: url("../font/Lato-Hairline.ttf") format("truetype");
}
/**
 *  Color variables
 */
/* background colors */
/* text colors */
/* skill colors */
/* length variables */
/* ==========================
    universal styles
========================== */
* {
  box-sizing: border-box;
}
body {
  transition: all 1.5s;
}
a,
a:hover {
  text-decoration: none;
}
.dark-bg a {
  color: #aeaeae;
}
.dark-bg a:hover {
  color: #2bc9af;
}
.light-bg a {
  color: #2bc9af;
}
.light-bg a:hover {
  color: #a2ebdf;
}
h1 {
  font: normal bold 48px/54px "Lato", sans-serif;
}
h2 {
  font: normal bold 36px/44px "Lato", sans-serif;
}
h3 {
  font: normal bold 24px/28px "Lato", sans-serif;
}
h4 {
  font: normal normal 16px/19px "Lato", sans-serif;
  color: #aeaeae;
}
.my-container {
  text-align: center;
  position: relative;
}
.limited-width {
  max-width: 600px;
  margin: 0 auto;
}
.limited-width h1,
.limited-width h2 {
  margin-bottom: 30px;
}
.text-center {
  text-align: center;
}
/* handling line text headers as backgrounds and the
* margin to show text underneath
*/
.line-text-header {
  width: 100%;
}
.line-text-header + h1 {
  position: relative;
  top: -20px;
}
.btns-container {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.btns-container a,
.btns-container a:hover {
  transition: 0.7s all;
  color: #f0f0f0;
}
.btns-container a:hover {
  font-size: 16px;
  height: 60px;
  width: 166px;
}
.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 156px;
  height: 50px;
  border: 2px solid #f0f0f0;
  border-radius: 15px;
  font-size: 14px;
}
.btn:hover {
  color: #aeaeae;
  background-color: #2bc9af;
  border: #2bc9af;
}
.social-links {
  display: flex;
  width: 600px;
  margin: 0 auto;
  justify-content: space-evenly;
}
.tagline {
  margin-bottom: 40px;
}
/* ==========================
    skills styling
========================== */
.skills {
  display: inline-block;
  max-width: 1000px;
  margin: 0 auto;
}
.skills li {
  display: inline-block;
  height: 37px;
  font-family: "LatoBold", sans-serif;
  background-color: #464646;
  border-radius: 15px;
  width: 160px;
  padding-top: 10px;
  margin: 10px;
}
/* ==========================
    footer - contact me styling
========================== */
.footer {
  background-color: #272727;
  color: #f0f0f0;
}
.footer-links {
  margin-top: 30px;
}
.footer-links a {
  margin: 0 25px;
}
.copyright {
  margin-top: 150px;
  font-size: 12px;
}
/* ==========================
    media queries
========================== */
@media (min-width: 769px) {
  .enable-sticky-footer {
    min-height: -250vh;
  }
  .container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
/* ==========================
    nav bar
========================== */
.nav-bar {
  width: 100%;
  top: 68px;
  position: absolute;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
/* anything larger than an iPad */
@media (min-width: 769px) {
  .nav-item {
    display: inline;
    margin: 0 50px;
  }
}
@media screen and (max-width: 769px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  .social-links img {
    width: 20px;
  }
  .skills li {
    font-size: 12px;
    height: 25px;
    width: 130px;
    padding-top: 5px;
  }
  .social-links {
    width: 300px;
  }
  .tagline {
    margin-bottom: 25px;
  }
  .footer-links {
    display: flex;
  }
}
/* ==========================
    otw modal
========================== */
.otw {
  color: #272727;
}
/* ==========================
    other & notes
========================== */
