@font-face {
  font-family: "Lato";
  src: url("../font/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "LatoItalic";
  src: url("../font/Lato-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "LatoBold";
  src: url("../font/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "LatoItalicBold";
  src: url("../font/Lato-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "LatoHairline";
  src: url("../font/Lato-Hairline.ttf") format("truetype");
}

@site-font-family: "Lato", sans-serif;
@italic-font: "LatoItalic", sans-serif;
@bold-font: "LatoBold", sans-serif;
@italic-bold-font: "LatoItalicBold", sans-serif;
@hairline-font: "LatoHairline", sans-serif;

@body-font: normal normal normal 14px @site-font-family;

/**
 *  Color variables
 */
@black: #272727;
@white: #f0f0f0;
@dark-grey: #464646;
@light-grey: #aeaeae;
@aquamarine: #2bc9af;

/* background colors */
@primary-background-color: @black;
@secondary-background-color: @white;
@background-hover-color: @dark-grey;

/* text colors */
@primary-text-color: @white;
@secondary-text-color: @light-grey;
@tertiary-text-color: @black;
@text-hover-color: @aquamarine;

/* skill colors */
@primary-skill-background-color: @dark-grey;
@primary-skill-text-color: @white;
@secondary-skill-background-color: @light-grey;
@secondary-skill-text-color: @black;

/* length variables */
@footer-height: 350px;

/* responsive breakpoints */
@mobile-breakpoint: 769px;
@tablet-breakpoint: 1030px;
@large-screen-breakpoint: 1225px;
