@import "./globals.less";

/* ==========================
    work styles
========================== */

body {
  background-color: @primary-background-color;
  color: @primary-text-color;
  font: @body-font;
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  height: 600px;
  justify-content: space-around;
  top: 192px;
}

.footer {
  position: relative;
  top: 550px;
}

.skills {
  position: relative;
  // top: 300px;
}

/* ==========================
    project
========================== */
#background-work {
  position: relative;
  top: 350px;
}

.background-project {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto 100px;

  &:last-child {
    margin: 0 auto;
  }

  img {
    max-width: 620px;
  }
}

.flex-reverse {
  flex-direction: row-reverse;
}

.desc {
  align-self: center;
  display: flex;
  height: 200px;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

@media (max-width: 1000px) {
  .background-project {
    flex-direction: column;
    margin-bottom: 80px;
  }

  .desc {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 769px) {
  .flex-column {
    height: 750px;
  }

  h2 {
    font-size: 24px;
  }

  .background-project {
    img {
      width: 300px;
    }
  }
}
