@import "./globals.less";

/* ==========================
    work styles
========================== */

body,
html {
  background-color: @primary-background-color;
  color: @primary-text-color;
  font: @body-font;
}

.nav-links {
  a {
    color: @primary-text-color;
  }

  a:hover {
    color: @text-hover-color;
  }
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  height: 600px;
  justify-content: space-around;
  top: 192px;
}

.footer {
  position: relative;
  top: 420px;
}

.skills-container {
  position: relative;
  top: 120px;
}

/* ==========================
    project
========================== */
#background-work {
  position: relative;
  top: 320px;
}

@project-height: 550px;

.background-project {
  display: flex;
  justify-content: space-around;
  width: 90%;
  padding: 50px 0;
  margin: auto;
  height: @project-height;

  &:last-child {
    margin: 0 auto;
  }

  img {
    max-width: 620px;
    max-height: @project-height;
    box-shadow: 0px 0px 13px @white;
  }
}

.project-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.desc {
  align-self: center;
  display: flex;
  max-width: 650px;
  // height: 15rem;
  height: calc(@project-height * 0.7);
  flex-flow: column wrap;
  justify-content: space-evenly;

  p {
    text-align: justify;
  }
}

.desc-action {
  height: 45%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

@media (max-width: 1000px) {
  .background-project {
    flex-direction: column;
    margin-bottom: 80px;
  }

  .desc {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 769px) {
  .flex-column {
    height: 750px;
  }

  h2 {
    font-size: 24px;
  }

  .background-project {
    img {
      width: 300px;
    }
  }
}
