@import "./globals.less";

/* ==========================
    work styles
========================== */

body,
html {
  background-color: @primary-background-color;
  color: @primary-text-color;
  font: @body-font;
}

.nav-links {
  a {
    color: @primary-text-color;
  }

  a:hover {
    color: @text-hover-color;
  }
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  height: 600px;
  justify-content: space-around;
  top: 192px;
}

/* ==========================
    project
========================== */
#background-work {
  position: relative;
  top: 320px;
}
