@font-face {
  font-family: "Lato";
  src: url("../../font/Lato-Regular.ttf") format("truetype");
}

//LATO FONT NOT WORKING
@site-font-family: "Lato", sans-serif;
@body-font: normal normal normal 14px @site-font-family;

/* background colors */
@primary-background-color: #f0f0f0;
@secondary-background-color: #272727;
@background-hover-color: #464646;

/* text colors */
@primary-text-color: #272727;
@secondary-text-color: #f0f0f0;
@tertiary-text-color: #aeaeae;
@text-hover-color: #2bc9af;

/* ellipsis nav colors */
@ellipse-border: #aeaeae;
@dark-ellipse: #464646;
@light-ellipse: #f0f0f0;

/* skills colors */
@skill-text-color: #f0f0f0;
@skill-background-color: #aeaeae;

/* vertical offset */
@vertical-offset: 192px;

body {
  background-color: @primary-background-color;
  color: @primary-text-color;
  font: @body-font;
}

/* ==========================
    ellipsis nav styling
========================== */

.ellipsis-nav {
  float: left;
  text-align: left;
  margin: 55px 30px 0 15px;
  color: @dark-ellipse;
}

.ellipse-container {
  margin-bottom: 20px;

  span {
    margin-left: 8px;
  }
}

.ellipse {
  display: inline-block;
  border: 1px solid @ellipse-border;
  border-radius: 50%;
  width: 13px;
  height: 13px;
}

/* ==========================
    profile styling
========================== */
#profile {
  position: relative;
  top: @vertical-offset;

  .ellipse[href="#profile"] {
    background-color: @dark-ellipse;
    border: 1px solid @dark-ellipse;
  }
}

.tagline {
  position: relative;
  bottom: 230px;
  text-align: left;

  h1 {
    margin-bottom: 30px;
  }
}

.skills {
  position: relative;
  top: 0;
  margin: 50px auto;

  li {
    color: @skill-text-color;
    background-color: @skill-background-color;
  }
}

.limited-width {
  margin: -10px 0 0 -20px;
}

.paragraph {
  margin: 40px;
  text-align: justify;
  font-size: 16px;
  line-height: 1.5em;
}

.vertical {
  transform: rotate(90deg);
  float: right;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.bg {
  position: relative;
  top: 60px;
}

#lakers {
  position: relative;
  top: @vertical-offset;

  img {
    display: block;
    width: 100%;
  }
}

/* ==========================
    background styling
========================== */
#background {
  position: relative;
  top: @vertical-offset;

  .ellipse[href="#background"] {
    background-color: @dark-ellipse;
    border: 1px solid @dark-ellipse;
  }
}

.offset-left {
  position: relative;
  right: 85px;
  bottom: 15px;
}

/* ==========================
    music styling
========================== */
@music-table-width: 1000px;

/* begin dropdown css */
.dropdown {
  text-align: left;
  margin: 0 auto 50px;
  max-width: @music-table-width;
}

.dropbtn {
  border: 1px solid @primary-background-color;
  border-radius: 27px;
  height: 27px;
  line-height: 27px;
  background-color: @secondary-background-color;
  margin-left: 12px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: @text-hover-color;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: @secondary-background-color;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
  color: @secondary-text-color;
  background-color: @secondary-background-color;
  border: none;
  padding: 12px 16px;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {color: @text-hover-color}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* end dropdown css */

#music {
  position: relative;
  top: @vertical-offset;
  background-color: @secondary-background-color;
  color: @secondary-text-color;

  .ellipsis-nav {
    color: @light-ellipse;
  }
  .ellipse[href="#music"] {
    background-color: @light-ellipse;
    border: 1px solid @light-ellipse;
  }

  h2 {
    font-weight: 400;
    display: inline-block;
    text-transform: uppercase;
  }

  a {
    color: @secondary-text-color;
  }

  h3,
  a:hover {
    color: @text-hover-color;
  }

  // TODO: table header style gets messed up after spotify data gets pulled in
  .table {
    margin: 0 auto;
    max-width: @music-table-width;
  }

  td {
    padding: 10px;
  }

  th {
    color: @tertiary-text-color;
    text-transform: uppercase;
    padding: 5px;
  }

  tr + tr:hover {
      //border-radius not working
      border-radius: 10px;
      color: @text-hover-color;
      background-color: @background-hover-color;
  }

  th:first-child,
  th:last-child,
  td:first-child,
  td:last-child {
    width: 1%;
    white-space: nowrap;
  }

  tbody > tr:first-child {
    border-bottom: 1px solid @tertiary-text-color;
  }
}

.mi {
  position: relative;
  bottom: 150px;
}

.music-player {
  background-color: @background-hover-color;
}

/* ==========================
    shows styling
========================== */
#shows {
  position: relative;
  top: 192px;

  .ellipse[href="#shows"] {
    background-color: @dark-ellipse;
    border: 1px solid @dark-ellipse;
  }
}

/* ==========================
    blog styling
========================== */
#blog {
  position: relative;
  top: 192px;

  .ellipse[href="#blog"] {
    background-color: @dark-ellipse;
    border: 1px solid @dark-ellipse;
  }
}

.footer {
  position: relative;
  top: @vertical-offset;
}
