@font-face {
  font-family: "Lato";
  src: url("../font/Lato-Regular.ttf") format("ttf");
}

@site-font-family: Lato, sans-serif;
@body-font: normal normal normal 14px @site-font-family;

@background-color: #f0f0f0;
@text-color: #272727;
@link-color: #aeaeae;
@hover-color: #2bc9af;

@ellipse-border: #aeaeae;
@dark-ellipse: #464646;

body {
  background-color: @background-color;
  color: @text-color;
  font: @body-font;
}

.ellipsis-nav {
  float: left;
  text-align: left;
  margin-left: 20px;
  color: @dark-ellipse;
}

.ellipse-container {
  margin-bottom: 20px;
}

.ellipse {
  display: inline-block;
  border: 1px solid @ellipse-border;
  border-radius: 50%;
  width: 13px;
  height: 13px;
}

#profile {
  position: relative;
  top: 192px;

  .ellipse[href="#profile"] {
    background-color: @dark-ellipse;
    border: 1px solid @dark-ellipse;
  }
}

#background {
  position: relative;
  top: 192px;

  .ellipse[href="#background"] {
    background-color: @dark-ellipse;
    border: 1px solid @dark-ellipse;
  }
}

#music {
  position: relative;
  top: 192px;

  .ellipse[href="#music"] {
    background-color: @dark-ellipse;
    border: 1px solid @dark-ellipse;
  }
}

#shows {
  position: relative;
  top: 192px;

  .ellipse[href="#shows"] {
    background-color: @dark-ellipse;
    border: 1px solid @dark-ellipse;
  }
}

#blog {
  position: relative;
  top: 192px;

  .ellipse[href="#blog"] {
    background-color: @dark-ellipse;
    border: 1px solid @dark-ellipse;
  }
}

.footer {
  position: relative;
  top: 550px;
}
