/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Lato";
  src: url("../font/Lato-Regular.ttf") format("ttf");
}

@site-font-family: Lato, sans-serif;
@body-font: normal normal normal 14px @site-font-family;

/* color variables */
@primary-background-color: #272727;
@primary-text-color: #f0f0f0;
@link-color: #aeaeae;
@hover-color: #2bc9af;

@footer-height: 350px;

/* ==========================
    universal styles
========================== */
* {
  box-sizing: border-box;
}

body {
  background-color: @primary-background-color;
  color: @primary-text-color;
  font: @body-font;
}

a {
  color: @link-color;
  text-decoration: none;
}

a:hover {
  color: @hover-color;
}

h1 {
  font: normal bold 32px/38px @site-font-family;
}

h2 {
  font: normal bold 24px/30px @site-font-family;
}

h3 {
  font: normal normal 16px/19px @site-font-family;
  color: #aeaeae;
}

.container {
  padding: 0 1em;
  text-align: center;
}

.limited-width {
  max-width: 600px;
  display: inline-block;
  margin-bottom: 30px;
}

/* handling line text headers as backgrounds and thea
* margin to show text underneath
*/
.line-text-header {
  // display: block;
  width: 100%;
}

.line-text-header + h1 {
  position: relative;
  top: -20px;
}

.btn {
  position: relative;
  display: inline-block;
  width: 156px;
  height: 50px;
  padding-top: 15px;
  border: 2px solid #f0f0f0;
  border-radius: 15px;
  font-size: 14px;
}
/* TODO: make whole button hover color
*/
/* .btn:hover {
  color: #2bc9af;
} */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* ==========================
    footer - contact me styling
========================== */
.footer {
  background-color: @primary-background-color;
  position: relative;
  top: 800px;
  // overflow: auto;
}

.footer a {
  margin: 0 25px;
}

.copyright {
  position: relative;
  top: 100px;
}

/* ==========================
    media queries
========================== */
@media (min-width: 769px) {
  .enable-sticky-footer {
    min-height: calc(100vh - @footer-height);
  }

  .container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}


/* ==========================
    other & notes
========================== */

//will select all .col after the first .col element
.col + .col {

}
