@import "../../../styles/globals";

.link {
  color: $blog-grey;

  h3 {
    font-weight: 700;
  }

  hr {
    border: 1px solid $text-hover-color;
  }

  &:hover {
    hr {
      border: 1px solid lighten($text-hover-color, 30%);
    }
  }
}
