@import "../../../styles/globals";

.link {
  display: block;
  margin: 1.5rem auto;
  color: $blog-grey;

  h3 {
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  hr {
    margin-top: 2rem;
    border: 1px solid $text-hover-color;
  }

  &:hover {
    hr {
      border: 1px solid lighten($text-hover-color, 30%);
    }
  }
}
