@import "../../../styles/globals.scss";

$music-table-width: 1000px;

.title {
  display: flex;
  align-items: center;
}

.playlist-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  gap: 25px;
}

.playlist-description {
  font-family: $italic-bold-font;
}

/* begin dropdown css */
.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  margin: 0 auto;
  max-width: $music-table-width;
  padding: 20px 50px;
}

.dropbtn {
  border: 1px solid $secondary-background-color;
  border-radius: 27px;
  height: 27px;
  line-height: 27px;
  background-color: $primary-background-color;
  margin-left: 12px;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: $text-hover-color;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  position: absolute;
  background-color: $primary-background-color;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
  color: $primary-text-color;
  background-color: $primary-background-color;
  border: none;
  padding: 12px 16px;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {
  color: $text-hover-color;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

@media screen and (max-width: $mobile-breakpoint) {
  #music {
    h3,
    .playlist-title {
      text-align: center;
    }
  }

  .ellipsis-nav {
    display: none;
  }

  .offset-left {
    text-align: center;
    padding-top: 25px;
    margin-bottom: 0 !important;
    right: 0;
  }

  .paragraph {
    margin-top: 5px;
  }

  .dropdown {
    padding: 15px 0 30px;
  }

  .my-table tbody {
    display: flex;

    tr {
      td {
        display: inline-block;
        min-width: 350px;
        margin: 0 auto;
      }
      padding: 0 10px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      text-align: center;

      &:first-child {
        text-align: left;
        border-bottom: none;
      }

      border-right: 1px solid $secondary-text-color;
    }
  }
}
