@import "../../styles/globals";

/* ellipsis nav colors */
$ellipse-border: $light-grey;
$dark-ellipse: $dark-grey;
$light-ellipse: $white;

/* ==========================
    ellipsis nav styling
========================== */

.ellipsis-nav {
  text-align: left;
  margin: 0 15px;
  color: $dark-ellipse;
}

.ellipse-container {
  display: flex;
  margin-bottom: 20px;

  span {
    text-transform: uppercase;
  }
}

.ellipse {
  display: inline-block;
  border: 1px solid $ellipse-border;
  border-radius: 50%;
  width: 13px;
  height: 13px;
}
