.skills-container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;

  h3 {
    margin-bottom: 20px;
    text-align: center;
  }
}

.skills {
  display: inline-flex;
  width: 100%;
  min-height: 300px;
  margin: 0 auto;
  align-items: flex-start;
}
