@import "../../../styles/globals";

.desc {
  align-self: center;
  display: flex;
  max-width: 650px;
  // height: 15rem;
  height: calc($project-height * 0.7);
  flex-flow: column wrap;
  justify-content: space-evenly;

  p {
    text-align: justify;
  }
}

.desc-action {
  height: 55%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

@media (max-width: 1000px) {
  .desc {
    margin-bottom: 30px;
  }
}
